<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Animal Kingdom! </h1>
    <p>
     Hi <%= @user.email %>.<br>
     You have successfully signed up
    </p>
    <p>
      To login to the site, just follow this link: pets-air-bnb-arthurreuss.herokuapp.com/.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
