.background-dashboard {
  background: linear-gradient(-75deg, #1b1b1b, #a0a0a0, #1c1c1c, #c8c8c8);
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
  min-height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes lights {
  0% {
    color: hsl(230, 40%, 80%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }

  30% {
    color: hsl(230, 80%, 90%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }

  40% {
    color: hsl(230, 100%, 95%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 90%, 0.5),
      -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
      0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
  }

  70% {
    color: hsl(230, 80%, 90%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }

  100% {
    color: hsl(230, 40%, 80%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }

}
.accordion-item{
  background: linear-gradient(-75deg, #1b1b1b, #a0a0a0, #1c1c1c, #c8c8c8);
    background-size: 400% 400%;
    animation: gradient 30s ease infinite;


  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @keyframes lights {
    0% {
      color: hsl(230, 40%, 80%);
    }

    30% {
      color: hsl(230, 80%, 90%);
    }

    40% {
      color: hsl(230, 100%, 95%);
    }

    70% {
      color: hsl(230, 80%, 90%);
    }

    100% {
      color: hsl(230, 40%, 80%);
    }
  }
}
.accordion-button{
  background: linear-gradient(-75deg, #1b1b1b, #a0a0a0, #1c1c1c, #c8c8c8);
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;


@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes lights {
  0% {
    color: hsl(230, 40%, 80%);
  }

  30% {
    color: hsl(230, 80%, 90%);
  }

  40% {
    color: hsl(230, 100%, 95%);
  }

  70% {
    color: hsl(230, 80%, 90%);
  }

  100% {
    color: hsl(230, 40%, 80%);
  }
}}
.link-in-line{
  display: flex;

}
