// Specific CSS for your home-page
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  justify-content: space-around;
  padding-top: 50px;
  padding-bottom: 50px;
}

.middle-box {
  width: 305px;
  height: 422px;
  text-decoration: none;
  color: white;
  background-color: #000000;
  border: 15px white solid;
  margin-top: 25px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 10px;
  padding-top: 10px;
  padding-left: 10px;
}

.inside-box {
  border-radius: 10px;
  border: 10px white solid;
  width: 255px;
  height: 372px;
  text-align: center;
  background-color: #000000;
  background-size: cover;
  background-position: center;
}

.card-box{
  align-self: center;
  justify-self: center;
}

.cards a{
  text-decoration: none;
  color: black;
}

.btn a{
  text-decoration: none;
  color:white;
}

.btn-index{
  margin-left: 83%;
}

.btn{
  background: rgb(15, 74, 103);
  background: radial-gradient(circle, rgb(15, 74, 103) 0%, rgba(0,0,0,1) 100%);
  display: flex;
  flex-direction: column;
  font-family: 'Amaranth', sans-serif;
  font-size: 22px;
  font-style: italic;
  color: white;
  text-transform: capitalize;
  padding: 3px 15px;
  border-radius: 10px;
  border: 6px solid rgb(255, 255, 255);
  box-shadow: 4px 4px 0 rgba(255, 255, 255, 0.3), 8px 8px 0 rgba(255, 255, 255, 0.2);
  z-index: 1;
  transition: all 0.3s ease 0.1s;
  width: fit-content;
}

.btn:hover{
  color: rgb(42, 100, 130);
  box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.4);
  border-color: rgb(37, 0, 100);
  transform:scale(1.1);
}

.btn span{ display: block; }
.btn:before,
.btn:after,
.btn span:before,
.btn span:after{
  content: '';
  background-color: rgb(0, 60, 68);
  width: 50%;
  height: 2px;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 25%;
  top: -2px;
  transition: all 0.3s ease 0s;
}

.btn:after{
  top: auto;
  bottom: -2px;
}

.btn span:before,
.btn span:after{
  height: 50%;
  width: 2px;
  top: 25%;
  left: -2px;
}

.btn span:after{
  left: auto;
  right: -2px;
}

.btn:hover:before,
.btn:hover:after,
.btn:hover span:before,
.btn:hover span:after{
  opacity: 1;
  visibility: visible;
}

.btn:hover:before{ left: 0; }
.btn:hover:after{ left: 50%; }
.btn:hover span:before{ top: 50%; }
.btn:hover span:after{ top: 0; }
@media only screen and (max-width: 767px){
  .btn{ margin-bottom: 20px; }
}

.background-index {
  background: linear-gradient(-75deg, #1B1B1B, #A0A0A0, #1C1C1C, #C8C8C8);
  background-size: 400% 400%;
  animation: gradient 50s ease infinite;
  min-height: 150vh;
}

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @keyframes lights {
    0% {
      color: hsl(230, 40%, 80%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.2),
        0 0 0.125em hsla(320, 100%, 60%, 0.3),
        -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }

    30% {
      color: hsl(230, 80%, 90%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 60%, 0.5),
        -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }

    40% {
      color: hsl(230, 100%, 95%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 90%, 0.5),
        -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
        0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
    }

    70% {
      color: hsl(230, 80%, 90%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 60%, 0.5),
        0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }

    100% {
      color: hsl(230, 40%, 80%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.2),
        0 0 0.125em hsla(320, 100%, 60%, 0.3),
        1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }

  }

h1 {
  margin: auto;
  font-size: 3.5rem;
  font-weight: 300;
  animation: lights 5s 750ms linear infinite;
}

.navbar {
  background: rgb(172,227,255);
  background: radial-gradient(circle, rgba(172,227,255,1) 0%, rgba(0,0,0,1) 100%);
  width: 100%;
}
.nav-item a{
  color: white;
}
