.background-show {
  background: linear-gradient(-75deg, #1B1B1B, #A0A0A0, #1C1C1C, #C8C8C8);
  background-size: 400% 400%;
  animation: gradient 50s ease infinite;
  min-height: 150vh;
  margin-top: 106px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
};

.fa{
  color: white;
  &:hover{
    color: rgb(42, 100, 130);
  }
}

// .fa-back {
//   color: black;
// }
// .fa-back:hover {
//   color: white;
// }

// .delete-button {
//   color: black;
// }

// .delete-button:hover {
//   color: white;
// }
