.background-show {
  background: linear-gradient(-75deg, #000000, #2a383f, #000000, #2a383f);
  background-size: 400% 400%;
  animation: gradient 50s ease infinite;
  min-height: 150vh;
  margin-top: 55px;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
};

.fa{
  color: white;
  &:hover{
    color: rgb(42, 100, 130);
  }
}

// .fa-back {
//   color: black;
// }
// .fa-back:hover {
//   color: white;
// }

// .delete-button {
//   color: black;
// }

// .delete-button:hover {
//   color: white;
// }
