<div><%= link_to "Create new", new_pets_path %>
</div>
<div class="background-index">
  <div class="cards">
    <% @pets.each do |pet| %>
      <%= link_to pet_path(pet) do %>
        <div class="card border rounded-2 m-2 border-5 middle-box">
          <div class="border rounded-2 border-5 m-1 inside-box">
            <%= pet.name %>
          <%= cl_image_tag(pet.photo.key,
            width: 247, height: 321, crop: :fill) %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
