<div class="background-show">
<div style="height:30px;">
</div>
  <div class="btn btn-index"><%= link_to "Create new", new_pet_path %></div>
    <div class="cards">
      <% @pets.each do |pet| %>
        <div class="card-box">
          <%= link_to pet_path(pet) do %>
            <div class="card middle-box">
              <% if pet.photo.present? %>
              <div class="inside-box" style="background-image: url('<%= cl_image_path pet.photo.key, crop: :lpad %>')"></div>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
