<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/p/CjI3JkrskWQ/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/groups/946824272076261"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/FantasticBeasts"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    No persons were physically harmed <i class="fa fa-solid fa-hammer-crash fa-xl"></i> in the making of this website
  </div>
</div>
