<% @user %>
<% @bookings.each do |b| #of the user %>
<%= b %>
<div><%= link_to "Delete Booking", booking_path(b), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></div>
<%= link_to "Leave a review", new_booking_review_path(b) %>
<% end %>
<%= link_to "Back to homepage", pets_path %>
