<div class="background-index">
  <div class="container w-75 m-auto">
      <h1 class="big-title">Fantastic Beast</h1>
    <div class="btn">
      <%= link_to "And where to rent them", pets_path %>
    </div>
  </div>
</div>
