<div class="background-index">
  <div class="container w-75 m-auto">
      <div class="row">
        <h1 class="big-title">Fantastic Beast</h1>
      </div>
  </div>
  <div class="btn btn-home">
  <%= link_to "And where to rent them", pets_path %>
  </div>
</div>
