.show {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  justify-content: space-around;
  align-items: center;
}

.img {
  height: 450px;
  width: 75%;
  border: 8px solid white;
}

.img_card {
  height: 500px;
  width: 75%;
  perspective: 500px;
  align-self: center;
  justify-self: center;
}

.form-inputs{
  font-size: 25px;
}

.form_card {
  height: 350px;
  width: 75%;
  justify-self: center;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 4px solid white;
  border-radius: 10px;

  transition: transform 0.8s ease 0.3s;
  transform-style: preserve-3d;
}

.img_card:hover .content {
  cursor: pointer;
  transform: rotateY( 180deg ) ;
  transition: transform 0.5s;
}

.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  backface-visibility: hidden;
}

.back {
  background-color: black;
  transform: rotateY( 180deg );
  height: 100%;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  overflow-y: scroll;
}

.show_front {
  width: 75%;
  margin: auto;
  height: 100%;
}

.show_text {
  color: white;
  font-size: 25px;
}

.name {
  font-size: 45px;
  font-weight: bold;
}

.species {
  font-size: 30px;
  font-weight: bold;
}

// .options {
//   align-items: center;
//   justify-content: space-between;
//   height: 100px;
//   padding: 0px 50px;
//   color: rgba(0,0,0,0.3);
// }
.options-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.filler {
  min-height: 100px;
}
