.review-box {
  min-height: 400px;
  width: 75%;
  align-self: center;
  justify-self: center;
}

.review-display-border{
  border: 4px solid white;
  border-radius: 10px;
}

.review {
  color: white;
  font-size: 30px;
  font-style: italic;
}

.border {
  border: 1px solid white;
  width: 50%;
  text-align: center;
}

.map {
  border: 4px solid white;
  border-radius: 10px;
  width: 75%;
  height: 400px;
  align-self: center;
  justify-self: center;
}

.edit {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
